.progress-bar--container
{
    height: 1.25em;
    width: 100%;
    background-color: #E0E0DE;
    border: 0.1em solid $primary;
    position: relative;
}

.progress-bar--filler
{
    height: 100%;
    border-radius: inherit;
    text-align: right;
}

.progress-bar--text
{
    position: absolute;
    color: $white;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
