.game--header-wrapper
{
    border-bottom: 0.1em solid #DCDDDF;
}

.game--header
{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1280px)
    {
        width: 1280px;
    }

    .team--content
    {
        display: flex;
        flex-basis: 100%;

        .team--container
        {
            display: flex;

            .team--logo
            {
                height: 40px;
                overflow: hidden;
                padding: 0 20px;

                @media screen and (max-width: 480px) {
                    padding: 0 5px 0 10px;
                }
            }

            .team--info
            {
                display: flex;
                flex-wrap: wrap;
                width: 200px;

                .team--name
                {
                    width: 100%;

                    @media screen and (max-width: 768px)
                    {
                        display: none;
                    }
                }

                .team--abbreviation
                {
                    display: none;

                    @media screen and (max-width: 768px)
                    {
                        display: flex;
                        width: 100%;
                    }
                }

                .team--name,
                .team--abbreviation
                {
                    font-size: 1.05em;
                    font-weight: 500;
                    text-decoration: none;
                    color: $dark;

                    &:hover
                    {
                        color: $dark-gray;
                    }
                }

                .team--record
                {
                    width: 100%;
                    font-size: 0.80em;
                    color: #6C6D6F;
                }
            }
        }

        .score--container
        {

        }
    }

    .away-team
    {
        .team--name
        {
            display: flex;
            justify-content: flex-end;
        }

        .team--abbreviation
        {
            display: flex;
            justify-content: flex-end;
        }

        .team--record
        {
            display: flex;
            justify-content: flex-end;
        }

        .team--logo
        {
            @media screen and (max-width: 480px) {
                padding: 0 5px 0 10px;
            }
        }
    }

    .game-status
    {
        min-width: 216px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (max-width: 767px)
        {
            min-width: 100px;
        }

        @media screen and (max-width: 380px)
        {
            min-width: 60px;
        }

        .game-status--date
        {
            width: 100%;

            @media screen and (max-width: 480px) {
                display: none;
            }
        }

        .game-status--short-date
        {
            display: none;

            @media screen and (max-width: 480px) {
                display: block;
            }
        }

        .game-status--date,
        .game-status--short-date
        {
            text-align: center;
            font-size: 0.90em;
            line-height: 1.75em;
        }

        .game-status--time
        {
            font-size: 0.80em;
            color: #6C6D6F;
            text-align: center;
        }
    }
}

.post-header
{
    display: none;
    border-top: 0.1em solid #DCDDDF;
    padding: 0.5em 0;

    @media screen and (max-width: 380px)
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.hidden
    {
        display: none;
    }
}
