.table--matchup
{
    tr:nth-child(5)
    {
        border-bottom: 0.1em solid $dark;
    }

    thead
    {
        th
        {
            .draggable
            {
                border: 0.01em solid $light-gray;
            }

            .fitness
            {
                text-align: right;
            }
        }
    }

    tr
    {
        .draggable
        {
            min-width: 30px;
            width: 30px;
            padding: 0;
            border: 0.01em solid $light-gray;
            cursor: grab;

            &:nth-child(5)
            {
                border-bottom: 0.1em solid $dark;
            }

            &:hover
            {
                background-color: $medium-gray;
            }
        }

        .position
        {
            font-weight: 500;
        }

        .player--position
        {
            color: #6C6D6F;
            font-size: 0.85em;
        }

        .name
        {
            width: 100%;
        }

        .fitness
        {
            text-align: right;

            .text--out
            {
                position: relative;
                color: $primary-red;
                font-weight: 600;
                text-transform: uppercase;

                &::before
                {
                    content: " ";
                    position: absolute;
                    display: inline-block;
                    top: 4.5px;
                    left: -8px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $primary-red;
                }
            }
        }

        .action
        {
            text-align: right;
        }
    }
}
