.table--roster
{
    th
    {
        &.position
        {
            width: 25px;
            text-align: center;
        }
    }

    tr
    {
        &:nth-child(5)
        {
            border-bottom: 0.01em solid $dark;
        }

        &:last-child
        {
            border-bottom: 0.01em solid $light-gray;
        }
    }

    td
    {
        &.position
        {
            text-align: center;
        }
    }
}