.team-player--card-container
{
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 792px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.team-player--card
{
    width: 100%;
    background: $white;
    border: 0.15em solid $dark;
    border-radius: 0.20em;
    margin-bottom: 0.50em;

    @media screen and (min-width: 792px) {
        width: 48.7%;
    }

    .header
    {
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 0.15em solid $dark;
    }

    .avatar-holder
    {
        width: 20%;
        overflow: hidden;
        border-right: 0.15em solid $dark;

        img
        {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .quick-info
    {
        width: 80%;
    }

    .heading
    {
        font-size: 1.20em;
        padding: 0.50em 0.50em 0;
    }

    .basic-info
    {
        display: flex;
        flex-wrap: wrap;

        .sub-heading
        {
            width: 100%;
        }
    }

    .sub-heading
    {
        font-size: 1.00em;
        padding: 0.50em 0.50em;

        .dob
        {
            font-size: 0.9em;
            margin-left: 0.2em;
        }
    }

    .attributes
    {
        width: 100%;
        margin: 0 0.50em 0.50em;
    }
}
