@import "player_header";
@import "player_attributes";

.team-player--card-container
{
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 792px)
    {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.player-card--container
{
    display: flex;
    margin-bottom: 2em;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card--container
{
    background: $white;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-radius: 0.5em;
    margin-top: 1.25em;
    margin-bottom: 0.4em;

    .card--header
    {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 1em 1em;
        border-bottom: 1px dotted #dcdddf;

        .title
        {
            font-size: 1em;
            font-weight: 800;
            line-height: 0.85em;
        }
    }

    .card--content
    {
        overflow: hidden;
        padding: 0 1em 1em;
    }
}

.team-player--card
{
    background: $light-gray;
    color: $dark;
    padding: 0.7em;
    font-size: 11px;
    font-weight: normal;
    position: relative;
    width: 48.5%;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
    border-top: 0.2em solid #D8D8D8;
    border-right: 0.2em solid #D8D8D8;

    @media screen and (max-width: 900px)
    {
        width: 100%;
    }
}
