@import '_dark_colours';

// main colours
$primary: #FF7D12;
$text-primary: #FF7D12;
$secondary: #FFFFFF;

$primary-red: rgb(204, 0, 0);

// backgrounds
$body-bg: #FFFFFF;
$secondary-bg: #2D2D2D;

$light-gray: #D8D8D8;
$dark-gray: #545454;

$dark: #2D2D2D;
$white: #FFFFFF;
