.container
{
    margin: 0 auto 1em;
    max-width: 1280px;

    @media screen and (max-width: 1280px)
    {
        margin: 0 0.75em 1em;
    }
}

.layout-container
{
    display: grid;
    grid-template-areas:
        "content"
        "sidebar";
    column-gap: 1em;

    @media (min-width: 768px)
    {
        grid-template-areas: "content sidebar";
        grid-template-columns: 5fr 3fr;
    }

    .content-container
    {
        display: grid;
        grid-gap: 1em;
        grid-area: content;
    }

    .sidebar-container
    {
        display: grid;
        grid-gap: 1em;
        grid-area: sidebar;
    }
}

.split-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1em;
}

.column-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .game--card
    {
        margin-bottom: 1em;

        &:last-child
        {
            margin-bottom: 0;
        }
    }
}

.team-player--container
{
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
}
