.container
{
    margin: 0 auto;
    max-width: 1280px;

    @media screen and (max-width: 1280px)
    {
        margin: 0 0.75em;
    }
}

.dual-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1em;
}

.team-player--container
{
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
}
