.container
{
    margin: 0 auto 1em;
    max-width: 1280px;

    @media screen and (max-width: 1280px)
    {
        margin: 0 0.75em  1em;
    }
}

.layout-container
{
    display: grid;
    grid-template-areas: "content content content content sidebar";
    column-gap: 1em;

    @media (max-width: 768px)
    {
        grid-template-areas:
            "content"
            "sidebar";
    }

    .content-container
    {
        display: grid;
        grid-gap: 1em;
        grid-area: content;
    }

    .sidebar-container
    {
        display: grid;
        grid-gap: 1em;
        grid-area: sidebar;
    }
}

.split-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1em;
}

.team-player--container
{
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
}
